@use "../../Theme.scss" as theme;

.menu {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 20px;

	height: 100vh;
	width: 30rem;
	max-width: 100vw;
	overflow: scroll;

	opacity: 95%;
	background-color: theme.$khaki;
}

.menuClose {
	position: absolute;
	top: 15px;
	right: 15px;
}

.buttonbar {
	position: absolute;
	top: 15px;
	left: 15px;
}
